GITHUB_REPO=undead404/koreni
GITHUB_TOKEN=github-token
NEXT_PUBLIC_SITE=http://localhost:3000
TURNSTILE_SITE_KEY=koreni-local
TURNSTILE_SECRET_KEY=koreni-key
POSTHOG_KEY=posthog-key
POSTHOG_HOST=https://eu.i.posthog.com
VALID_API_KEYS=