.article p {
  word-break: break-word;
}

@media screen and (min-width: 512px) {
  .article ul.archiveItems {
    column-count: 2;
    column-gap: var(--side-gap);
  }
}

@media screen and (min-width: 720px) {
  .article ul.archiveItems {
    column-count: 3;
  }
}

@media screen and (min-width: 1024px) {
  .article ul.archiveItems {
    column-count: 4;
  }
}

/* Using this media is for printing */
@media screen {
  .tableContainer {
    max-width: calc(100vw - var(--side-gap) * 2);
    max-height: var(--content-full-height);
    /* TODO reconsider showing pagination for mobile */
    overflow: auto;
    border: var(--default-border);
  }

  .tableContainer:focus {
    border-color: var(--clickable-color);
  }
}

.suspenseFallback {
  text-align: center;
  font-size: 1.2rem;
  color: var(--description-color);
}
