.article h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.article h3 {
  font-size: 1.5rem;
  color: #34495e;
  margin-top: 40px;
  margin-bottom: 20px;
}

.article p {
  word-break: break-word;
}

.tableContainer {
  max-width: calc(100vw - var(--side-gap) * 2);
  max-height: calc(
    100vh - 110px - 20px - 2 * var(--side-gap)
  ); /* 110px - is just about a height of footer and header */
  /* TODO reconsider pagination height */
  /* TODO think on all those full page height measurements */
  overflow: auto;
}

.suspenseFallback {
  text-align: center;
  font-size: 1.2rem;
  color: #7f8c8d;
}
