.article p {
  word-break: break-word;
}

/* Using this media is for printing */
@media screen {
  .tableContainer {
    max-width: calc(100vw - var(--side-gap) * 2);
    max-height: calc(100vh - 1.2rem - 24px - 20px - 6 * var(--side-gap));
    /* TODO reconsider showing pagination for mobile */
    overflow: auto;
  }
}

.suspenseFallback {
  text-align: center;
  font-size: 1.2rem;
  color: var(--description-color);
}
