.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: calc(var(--side-gap) / 2) 0;
  background-color: var(--bg-color);
  /* TODO add box-shadow ? */
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 var(--side-gap);
}

.header nav {
  text-align: right;
  width: 100%;
}

.navList {
  list-style-type: none;
  padding: 0 var(--side-gap);
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  gap: 16px;
  -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, black 90%, transparent 100%);
}

.navList li {
  flex-shrink: 0;
}

.link {
  padding: calc(var(--side-gap) / 2) calc(var(--side-gap) / 2) var(--side-gap);
}

.link,
.ctaButton {
  color: var(--text-color);
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
}

.link:visited,
.ctaButton:visited {
  color: var(--text-color);
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
  }

  .topBar {
    width: auto;
    flex-grow: 1;
  }

  .topBar a {
    flex-shrink: 0;
  }

  .ctaButton {
    /* margin-left: auto; */
    text-wrap-mode: nowrap;
  }

  .navList {
    -webkit-mask-image: none;
    mask-image: none;
    overflow-x: visible;
    justify-content: flex-end;
  }

  .link {
    padding: calc(var(--side-gap) / 2) calc(var(--side-gap) / 2) 0;
  }
}
