.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--side-gap) / 2) var(--side-gap);
  background-color: var(--bg-color);
  /* TODO add box-shadow ? */
}

.link {
  color: var(--text-color);
  font-size: 1.2rem;
  padding: calc(var(--side-gap) / 2) calc(var(--side-gap) / 2);
}

/* TODO add active styles ? */
