.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
}

.thead {
  position: sticky;
  top: 0;
}

.table th:global(.break-word) {
  min-width: 40ch;
}

.thead tr:first-child {
  background-color: var(--table-row-header-bg);
  color: var(--table-row-header-text);
}

.tbody tr:nth-child(even) {
  background-color: var(--table-row-even-bg);
}

.tbody tr:hover {
  background-color: var(--table-row-hover-bg);
}

.thead th,
.tbody td {
  padding: 10px;
}

.thead th:not(:last-child),
.tbody td:not(:last-child) {
  border-right: var(--default-border);
}

.tbody tr:not(:last-child) {
  border-bottom: var(--default-border);
}
