.mapContainer {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

/* TODO consider an idea of really full screen map */
.isFullScreen {
  height: calc(100vh - 1.2rem - 24px - 7 * var(--side-gap));
}

/* TODO add styles for a leaflet map */
/* TODO consider dark theme for a leaflet map */
