/* TODO rework pagination to have maximum mobile-friendly width */
.nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.ul {
  display: flex;
  gap: 4px;
}

.rest {
  display: inline-block;
  min-width: 44px;
  padding: 8px 12px;
  text-align: center;
}
