/* TODO rework pagination to have maximum mobile-friendly width */
.nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.li {
  margin: 0 5px;
}

.link,
.currentPage {
  display: block;
  padding: 8px 12px;
  border: var(--default-border);
  border-radius: 4px;
  text-decoration: none;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.link:hover,
.link:focus {
  border: 1px dotted var(--clickable-color);
  text-decoration: none;
}

.currentPage {
  background-color: var(--clickable-color);
  color: var(--reversed-text-color);
  cursor: default;
}
