/* SearchResults.module.css */

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
}

.caption {
  caption-side: top;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tbody tr:nth-child(even) {
  background-color: var(--table-row-even-bg);
}

.tbody tr:not(:first-child):hover {
  background-color: var(--table-row-hover-bg);
}

.tbody th,
.tbody td {
  padding: 10px;
  border: var(--default-border);
}

tbody tr:first-child th {
  padding-top: 20px;
  border: 0;
  font-weight: normal;
  font-style: italic;
}
