/* globals.css */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* Theme to start with */
:root {
  --side-gap: 16px;
  --content-full-height: calc(100vh - 44px - 1.4rem - 5 * var(--side-gap));

  --bg-color: #fcfcfc;
  --text-color: #212121;
  --description-color: #777;
  --reversed-text-color: #fcfcfc;
  --clickable-color: #344cb7;
  --visited-clickable-color: #5d34b7;

  --default-border: 1px solid #ddd;

  --table-row-header-bg: #344cb7;
  --table-row-header-text: #fcfcfc;
  --table-row-even-bg: #f2f2f2;
  --table-row-hover-bg: #eaecf7;

  --note-bg-color: #eee;

  --success-color: #10b981;
  --error-color: #ff4747;
}

html,
body {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--clickable-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-clickable-color);
}

a:hover,
a:focus,
.button-text:hover,
.button-text:focus {
  text-decoration: underline dotted;
  text-underline-offset: 4px;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.button-text {
  background: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin-bottom: 40px;
  font-size: 2rem;
  line-height: 1.2em;
  text-align: center;
}

h2 {
  margin: 40px 0 20px;
  font-size: 1.6rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.2em;
}

h3:not(:only-child) {
  margin: 24px 0 16px;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
}

p:not(:only-child) {
  margin: 8px 0;
}

ul.no-disc {
  list-style: none;
  padding-left: 0;
}

ul:not(.no-disc) {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

ul li {
  margin: 6px 0;
  font-size: 1rem;
  line-height: 1.4em;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: var(--side-gap) 0;
  border: none;
  border-top: var(--default-border);
}

.note {
  background-color: var(--note-bg-color);
  padding: 12px;
  margin: 8px 0;
}

/* Utilities */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}

.text-nowrap {
  text-wrap: nowrap;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --bg-color: #212121;
    --text-color: #f0f0f0;
    --description-color: #888;
    --reversed-text-color: #212121;
    --clickable-color: #a3bbf9;
    --visited-clickable-color: #b6a3f9;

    --default-border: 1px solid #444;

    --table-row-header-bg: #111;
    --table-row-header-text: #f0f0f0;
    --table-row-even-bg: #282828;
    --table-row-hover-bg: #303035;

    --note-bg-color: #303030;

    --success-color: #10b981;
    --error-color: #ff4747;
  }

  .filter-inverted {
    filter: invert(1);
  }
}

@media screen and (max-width: 767px) {
  :root {
    /* 2.8rem is just close to 2 lines of non-zoomed text */
    --content-full-height: calc(100vh - 44px - 2.8rem - 5 * var(--side-gap));
  }
}

/* LEAFLET */

.leaflet-popup-content-wrapper {
  max-height: 50vh;
  overflow: auto;
}

/* Dark mode styles - https://github.com/Leaflet/Leaflet/issues/7577 */

@media (prefers-color-scheme: dark) {
  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
}

.leaflet-container {
  background: var(--bg-color) !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.leaflet-container a {
  color: var(--clickable-color) !important;
}
