/* globals.css */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme to start with */
:root {
  --side-gap: 16px;

  --bg-color: #fcfcfc;
  --text-color: #212121;
  --description-color: #777;
  --reversed-text-color: #fcfcfc;
  --clickable-color: #344cb7;

  --default-border: 1px solid #ddd;

  --table-row-header-bg: #344cb7;
  --table-row-header-text: #fcfcfc;
  --table-row-even-bg: #f2f2f2;
  --table-row-hover-bg: #eaecf7;

  --error-color: #ff4747;
}

html,
body {
  font-family:
    var(--font-geist-sans), 'Open Sans', Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
  font-size: 16px;
  line-height: 1.2em;

  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--clickable-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline dotted;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  line-height: 1.2em;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.2rem;
  line-height: 1em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --bg-color: #232323;
    --text-color: #fcfcfc;
    --description-color: #777;
    --reversed-text-color: #212121;
    --clickable-color: #a3bbf9;

    --default-border: 1px solid #444;

    --table-row-header-bg: #111;
    --table-row-header-text: #f0f0f0;
    --table-row-even-bg: #282828;
    --table-row-hover-bg: #303035;

    --error-color: #ff4747;
  }
}
