/* globals.css */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme to start with */
:root {
  --side-gap: 16px;

  --bg-color: #fcfcfc;
  --text-color: #212121;
  --description-color: #777;
  --reversed-text-color: #fcfcfc;
  --clickable-color: #344cb7;

  --default-border: 1px solid #ddd;

  --table-row-header-bg: #344cb7;
  --table-row-header-text: #fcfcfc;
  --table-row-even-bg: #f2f2f2;
  --table-row-hover-bg: #eaecf7;

  --error-color: #ff4747;
}

html,
body {
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--clickable-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline dotted;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin-bottom: 40px;
  font-size: 2rem;
  line-height: 1.2em;
  text-align: center;
}

h2 {
  margin: 40px 0 20px;
  font-size: 1.6rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.2em;
}

h3:not(:only-child) {
  margin: 24px 0 16px;
}

p {
  margin: 8px 0;
  font-size: 1rem;
  line-height: 1.4em;
}

ul li {
  margin: 6px 0;
  font-size: 1rem;
  line-height: 1.4em;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: var(--side-gap) 0;
  border: none;
  border-top: var(--default-border);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --bg-color: #232323;
    --text-color: #fcfcfc;
    --description-color: #777;
    --reversed-text-color: #212121;
    --clickable-color: #a3bbf9;

    --default-border: 1px solid #444;

    --table-row-header-bg: #111;
    --table-row-header-text: #f0f0f0;
    --table-row-even-bg: #282828;
    --table-row-hover-bg: #303035;

    --error-color: #ff4747;
  }

  .filter-inverted {
    filter: invert(1);
  }
}

.leaflet-popup-content-wrapper {
  max-height: 66vh;
  overflow: auto;
}

.leaflet-popup-content-wrapper ul {
  margin-left: 40px;
}
