/* TODO rework layout to make it big-table-friendly and search-friendly */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--side-gap) var(--side-gap) calc(var(--side-gap) * 2);
}

.main > * {
  width: 100%;
  max-width: var(--component-max-width, 1024px);
}

@media print {
  .page,
  .main {
    display: block;
    min-height: auto;
    padding: 0;
  }

  .main > * {
    max-width: none !important;
    width: 100%;
  }
}
