name: Check PR
permissions:
  contents: read

on:
  pull_request:
    branches-ignore:
      - 'cms/**'
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: .nvmrc

      - name: Install dependencies
        run: yarn --frozen-lockfile --prefer-offline

      - name: Install server dependencies
        run: yarn --frozen-lockfile --prefer-offline
        working-directory: src/server

      - name: Lint
        run: yarn lint

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: .nvmrc

      - name: Install dependencies
        run: yarn --frozen-lockfile --prefer-offline

      - name: Run tests
        run: yarn test
        env:
          NEXT_PUBLIC_GITHUB_OWNER: owner
          NEXT_PUBLIC_GITHUB_REPO: repo
          NEXT_PUBLIC_GISCUS_REPO_ID: repo-id
          NEXT_PUBLIC_GISCUS_CATEGORY_ID: category-id
          NEXT_PUBLIC_TYPESENSE_SEARCH_KEY: typesense-search-key
          NEXT_PUBLIC_TYPESENSE_HOST: typesense-host
          NEXT_PUBLIC_SITE: site
