name: Import Data Pipeline

on:
  repository_dispatch:
    types: [import_data]

jobs:
  process-and-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version-file: .nvmrc

      - name: Install Dependencies
        run: yarn --frozen-lockfile  --prefer-offline

      - name: Save Payload to File
        # Ми зберігаємо JSON з вебхука у файл, щоб скрипт міг його прочитати
        run: echo '${{ toJson(github.event.client_payload) }}' > "${{ runner.temp }}/payload.json"

      - name: Run Processing Script
        id: process
        env:
          PAYLOAD_PATH: ${{ runner.temp }}/payload.json
        # Використовуємо tsx для запуску TS файлу без компіляції
        run: yarn exec tsx src/import/index.ts

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'feat(data): import table ${{ steps.process.outputs.import_id }}'
          branch: 'import/${{ steps.process.outputs.import_id }}'
          title: 'Data Import: ${{ steps.process.outputs.import_title }}'
          body: |
            Автоматичний імпорт даних.

            - **ID**: `${{ steps.process.outputs.import_id }}`
            - **Назва**: ${{ steps.process.outputs.import_title }}

            Generated by GitHub Action workflow.
          labels: 'automated-import'
          delete-branch: true
